input[type="file"]::file-selector-button {
    color: white;
    background: #408cff;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 40px;
    line-height: 35px;
    padding: 0 12px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    margin-right: 5px;
  }