.container {
    margin-top: 20px;  
  }

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 5px;
}

.course-card {
    width: 400px;
}

mat-card-title {
    margin-bottom: 1rem;
}

.download:hover{
    text-decoration: underline;
}

.table-header {
    display: flex;
    justify-content: space-between;
}