<mat-card style=" margin-top: 20px" appMaterialElevation>
  <mat-card-title>
    Thảo luận chương 2
  </mat-card-title>
  <mat-card-content style="margin-bottom: 20px">
    <div [innerHTML]="formData.details"></div>
    <button class="btn btn-primary" style="margin-top:60px">Thêm một chủ đề thảo luận mới</button>
    <table class="table" style="margin-top:20px">
      <thead style="background: white">
        <tr>
          <th style="width:10%; text-align:center;">No.</th>
          <th style="width:44%; text-align:center;">Discussion</th>
          <th style='width:15%; text-align:left;'>User create</th>
          <th style='width:15%; text-align:left;'>Recent post</th>
          <th style='width:8%; text-align:center;'>Answers</th>
          <th style='width:8%; text-align:center;'>Likes</th>
        </tr>  
      </thead>
      <tbody id="tbForum">
        <tr >
            <td style="text-align:center">1</td>
            <td style="text-align:center" class="discuss">Thắc mắc về em</td>
            <td style="text-align:left">
              <div class="column">
                <span>Nguyen Dang Thang</span>
                <span>23 Sep 2021</span>
              </div>
            </td>
            <td style="text-align:left">
              <div class="column">
                <span>Nguyen Dang Thang</span>
                <span>23 Sep 2021</span>
              </div>
            </td>
            <td style="text-align:center">2</td>
            <td style="text-align:center;">
              <i class="fas fa-thumbs-up"></i>
            </td>
        </tr>
    </tbody>
    </table>
  </mat-card-content>
</mat-card>