 
   <app-e-learning>
    <nav class="navbar">ALO</nav>
   </app-e-learning>
   <mat-card style=" margin-top: 20px" appMaterialElevation>
       <mat-card-title>{{formData.assignmentName}}</mat-card-title>
       <mat-card-content style="margin-bottom: 20px">
         <mat-card style="background: lightgreen">
           <div>
             <strong>Opened:  </strong>
             <span>&nbsp;{{formData.opened | date: 'full'}}</span>
           </div>
           <div>
            <strong>Closed:  </strong>
            <span>&nbsp;{{formData.due | date: 'full'}}</span>
          </div>
         </mat-card>
      </mat-card-content>
       <mat-card-content style="margin-bottom: 20px">
        <div [innerHTML]="formData.details"></div>
      </mat-card-content>
   </mat-card>

   <mat-card style=" margin-top: 20px" appMaterialElevation>
    <mat-card-title>Nộp tập tin</mat-card-title>
    <mat-card-content style="margin-bottom: 20px">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
   </mat-card-content>
   <mat-card-actions>
    <button mat-raised-button>Nộp bài tập</button>
   </mat-card-actions>
</mat-card>


