<div class="container-fluid">
    <nav class="navbar">
      <a class="navbar-brand" style="margin-left: 10px">Home</a>
      <a class="navbar-brand" style="position: absolute; margin-left: 65px; color:blue">/Assignment</a>
      <button class="btn btn-danger my-2 my-sm-0" style="margin-right: 10px" (click)="onLogout()">Logout</button>
    </nav>
    
   <mat-card style=" margin-top: 20px" appMaterialElevation>
       <mat-card-title>Nộp bài tập chương 1</mat-card-title>
       <mat-card-content style="margin-bottom: 20px">
        Hello
        <input type ="datetime-local">
      </mat-card-content>
   </mat-card>
   
</div>

