<p-toast></p-toast>
   <mat-card style=" margin-top: 20px" appMaterialElevation>
       <mat-card-title>
         {{formData.assignmentName}} 
        </mat-card-title>
       <mat-card-content style="margin-bottom: 20px">
         <mat-card style="background: lightgreen">
           <div>
             <strong>Opened:  </strong>
             <span>&nbsp;{{formData.opened | date: 'full'}}</span>
           </div>
           <div>
            <strong>Closed:  </strong>
            <span>&nbsp;{{formData.due | date: 'full'}}</span>
          </div>
        </mat-card>
      </mat-card-content>
       <mat-card-content style="margin-bottom: 20px">
        <div [innerHTML]="formData.details"></div>
        <mat-card *ngIf="formStatus.totalMilliseconds != 0">
          <div>
            <strong>Status: </strong>
            <button mat-raised-button style="font-size:15px; margin-bottom: 10px;height:35px;margin-left:20px; background:aqua">
              <div><span>Submitted</span></div>
              </button>
          </div>
          <div>
            <strong>Remaining: </strong>
            <span>&nbsp;The assignment was sent early
               <span *ngIf="formStatus.days > 0"> {{formStatus.days}} days </span>
               <span *ngIf="formStatus.hours > 0"> {{formStatus.hours}} hours </span>  
               <span *ngIf="formStatus.minutes > 0"> {{formStatus.minutes}} minutes </span>  
               <span *ngIf="formStatus.seconds > 0"> {{formStatus.seconds}} seconds </span>    
            </span>
          </div>
          <div style="margin-top:15px">
            <strong>File Submit: </strong>
            <mat-card>
              <mat-card-content *ngFor="let file of formFile">
                <div>
                  <span class="download" (click)="downLoadFileContent(file.id, file.fileType)">
                    <i style="margin-right:10px" [class]="getIcon(file.fileType)" [style.color]="getBackgroundColor(file.fileType)"></i>
                    {{file.fileName}}
                  </span>
                  <span style="float:right">&nbsp;&nbsp;&nbsp;{{file.submitDate | date: 'full'}}</span>
                </div>
                
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card>
      </mat-card-content>
   </mat-card>

   <mat-card style=" margin-top: 20px" appMaterialElevation>
    <mat-card-title>Nộp tập tin</mat-card-title>
    <mat-card-content style="margin-bottom: 20px">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name}}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
   </mat-card-content>
   <mat-card-actions>
    <button mat-raised-button (click) = "onSubmit()">Nộp bài tập</button>
   </mat-card-actions>
</mat-card>


