
<p-toast></p-toast>

<div class="row" *ngIf="showMe">
    <div class="col-lg-2">
        <input type="text" class="form-control" placeholder="Course" #coursename="ngModel" name="coursename" [(ngModel)]="formData.fullName" required/>
    </div>
    <div  class="col-lg-2">
        <input type="text" class="form-control" placeholder="Course Code" #code="ngModel" name="code" [(ngModel)]="formData.code" required/>
    </div>
    <div  class="col-lg-2">
        <input type="text" class="form-control" placeholder="Instructor Id" #instructorid="ngModel" name="instructorid" [(ngModel)]="formData.instructorid" required/>
    </div>
    <div  class="col-lg-2">
        <input type="text" class="form-control" placeholder="Description" #decription="ngModel" name="decription" [(ngModel)]="formData.description" required/>
    </div>
    <div class="col-lg-2">
        <input type="text" class="form-control" placeholder="Details" #details="ngModel" name="details" [(ngModel)]="formData.details" required/>
    </div>
   <div class="col-lg-3">
    <i (click)="onSubmit()" class="far fa-check-circle fa-2x" style="padding: 5px 10px 5px 155px ; color:green"></i>
    <i (click)="showHide()"class="far fa-times-circle fa-2x" style="color:red"></i>
   </div>
    
</div>

<div class="card">
        <p-table #dt1 [value]="lstCourse" dataKey="id" editMode="row" responsiveLayout="scroll"
         [globalFilterFields]="['coursename', 'code', 'instructorid', 'instructionname', 'decription', 'details']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Instructor Id</th>
                    <th>Instructor name</th>
                    <th>Description</th>
                    <th>Details</th>
                    <th style="width:8rem">
                        <button (click)="showHide()" style="background: rgb(173, 224, 173)"  mat-raised-button>
                            <mat-icon >add</mat-icon>
                        </button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="item">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="item.coursename">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{item.coursename}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" required [(ngModel)]="item.code">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{item.code}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input" >
                                <input pInputText type="text" required [(ngModel)]="item.instructorid">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{item.instructorid}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="output">
                                {{item.instructionname}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input" >
                                <input pInputText type="text" [(ngModel)]="item.decription">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{item.decription}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input" >
                                <input pInputText type="text" [(ngModel)]="item.details">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{item.details}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td >
                        <button pInitEditableRow *ngIf="!editing" mat-icon-button (click)="onRowEditInit(item)">
                            <mat-icon>launch</mat-icon>
                        </button>
                        <button pInitEditableRow *ngIf="!editing" mat-icon-button (click)="onRowEditInit(item)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button pSaveEditableRow *ngIf="editing" mat-icon-button color="primary" (click)="onRowEditSave(item)" >
                            <mat-icon>done</mat-icon>
                        </button>
                        <button pCancelEditableRow (click)="onRowEditCancel(item, ri)" *ngIf="editing" mat-icon-button color="warn" >
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    

