input[type="file"]::file-selector-button {
  color: white;
  background: #408cff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 40px;
  line-height: 35px;
  padding: 0 12px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  margin-right: 5px;
}



p-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2em;
}
.my-modal {
  border: solid 1px blue;
  max-width: 70% !important;
}

.my-modal .modal-header {
  
}

.my-modal .modal-body {
 
}

.mat-table {
  background-color: transparent !important;
}

table tr:last-child td /*To remove the last border*/ {
  border-bottom: 0 solid;
}

.col-lg-2 {
  width: 15%;
  padding-top: 1px;
  padding-right: 10px;
}

.row {
  margin:10px;
  padding: 10px;
  border-radius: 20px;
/* box-shadow */
 box-shadow: rgba(0,0,0,0.8) 0 0 10px;
 border-collapse: collapse;
}

:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}