<div class="container-fluid">
    <nav class="navbar">
      <a class="navbar-brand" style="margin-left: 10px">Home</a>
      <a class="navbar-brand" style="position: absolute; margin-left: 65px; color:blue">/Content</a>
      <button class="btn btn-danger my-2 my-sm-0" style="margin-right: 10px" (click)="onLogout()">Logout</button>
    </nav>
    
   <mat-card style=" margin-top: 20px">
       <mat-card-title>Card title</mat-card-title>
       <mat-card-content>
        This is card content.
    </mat-card-content>
   </mat-card>
   
</div>
