.container {
  margin-top: 20px;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.course-card {
  width: 400px;
}

mat-card-title {
  margin-bottom: 1rem;
}

mat-card-content:hover {
  text-decoration: underline;
}

.info {
  width: 30%;
  height: 1000px;
  display: flex;
  justify-content: center
}

.body-content {
  display: flex;
}

.course {
    display:inline;
    width: 70%;
}
