<div class="container-fluid">
    <nav class="navbar">
      <a class="navbar-brand" style="margin-left: 10px">Home</a>
      <a class="navbar-brand" style="position: absolute; margin-left: 65px; color:blue">/Content</a>
      <button class="btn btn-danger my-2 my-sm-0" style="margin-right: 10px" (click)="onLogout()">Logout</button>
    </nav>
    
   <mat-card style=" margin-top: 20px" *ngFor="let item of lstContent" appMaterialElevation>
       <mat-card-title>{{item.SubjectName}}</mat-card-title>
       <mat-card-content (click) ="downLoadFileContent(file.Id, file.FileType)" *ngFor="let file of item.LstFile">
        <mat-card>
           <i [class]="getIcon(file.FileType)" [style.color]="getBackgroundColor(file.FileType)"></i>
          {{file.FileName}}
        </mat-card>       
    </mat-card-content>
   </mat-card>
   
</div>
